{% extends 'base.html' %}
{% block config %}
    <title>Squad's Area</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
{% endblock config %}
{% block content %}
    <div class="title-div">
        <h1> Calculo de area de Cuadrado</h1>
    </div>
    <div class="squad" style="height:{{squadPX}}px; width:{{squadPX}}px">
        <strong style="font-size:{{textArea}}px">A = {{area}}</strong>
    </div>
    <div class="calc-area-div">
        <p>
            El area del cuadrado de lado {{squad}}[m] es:  <strong>{{area}} m^2</strong>.
        </p>
    </div>
{% endblock content %}